html {
  font-family: 'Quicksand', sans-serif;
  background: url(wavegrid.png);
}
* { margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h1 { text-transform: xuppercase }
h1, h2, h3 {font-weight: normal; color:black}
h2 { font-size: 1em}
a { color: black!important; }
body {white; margin: 20px auto 0; max-width: 500px;}
img {cursor: pointer;}

header { height: 200px; overflow: hidden; }
header.big { height: auto; }

header > img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

article {
  color: #777;
  position: relative;
  padding-bottom: 115px;
}

#stars {
  float: right;
}

#meta,
#location {
  margin: 1em 0;
}

#contact {
  color: black;
}

#desc {
  text-align: left;
  font-size: 0.9em;
  color: black;
}

#desc > q {
  color: #777;
  font-style: italic;
}

#smallpictures {
  max-width: 500px;
  font-size: 0;
  position: fixed;
  bottom: 10px;
  border-top: 2px solid white;
}
#smallpictures > img:first-of-type { border-radius: 0 0 0 5px; }
#smallpictures > img:last-of-type { border-radius: 0 0 5px 0; }
#smallpictures > img {
  width: 25%;
  display: inline-block;
}

#meta {
  text-align: left;
  font-size: 0.8em;
}

#overlay {
  width: 100%;
  margin: -2.3em 0 1em;
  color: white;
  text-align: left;
  background: rgba(0,0,0,0.7);
}

#keywords {
  float: right;
  display: inline-block;
  padding: 0.5em;
}

#l {
  display: inline-block;
  font-family: 'Delius Swash Caps', cursive;
  padding: 0.5em 0.8em;
  border-right: 1px dashed white;
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
  header > img {
    border-radius: 0;
  }
  #smallpictures {
    bottom: 0;
  }
  #smallpictures > img {
    border-radius: 0;
  }
}

/* -- HOME -- */

#shops {
  list-style: none;
  text-align: center;
  padding: 0;
}

#shops > li {
  display: inline-block;
}

.ashop {
  display: block;
  width: 200px;
  background: white;
  padding: 10px 10px 30px 10px;
  position: relative;
  margin: 20px;
}

.thumbnail {
  width: 100%;
  display: block;
}

.ashop > p {
  position: absolute;
}

.title {
  bottom: 0px;
  left: 10px;
  line-height: 30px;
}

.loves {
  bottom: 0px;
  right: 10px;
  line-height: 30px;
  background: white;
  color: #F06;
}

#banner {
  text-align: center;
  padding: 0;
  padding: 10px 0;
  background-color: #555;
  border-color: hsla(211,68%,6%,.6);
  background-image: linear-gradient(hsla(211,68%,6%,.1), hsla(211,68%,6%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
  color: #CCC;
}

#banner > h1 {
  margin: 0;
  padding: 0;
  color: white;
}

#banner a {
  color: white!important;
}
