html { font-family: 'Quicksand', sans-serif; background: url(wavegrid.png); }
* { margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h1, h2, h3 {font-weight: normal; color:black}
h2 { font-size: 1em}
a { color: black!important; }
body {color: #777;margin: 10px auto; max-width: 500px; padding: 10px}
img {cursor: pointer;}

header { height: 200px; overflow: hidden; position: relative; margin: -10px -10px 0}
header.big { height: auto; }

#smallpictures {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;
}
#smallpictures > img {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  margin: 5px;
  border: 2px solid white;
}

header > img {
  display: block;
  width: 100%;
  margin-top: 2px;
}

#desc:before {
  content: "&";
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #777;
}

#desc {
  font-size: 0.9em;
  color: black;
}

#desc > q {
  color: #777;
  font-style: italic;
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
}

header {
  text-align: center;
  background: rgb(209,190,182);
}

header > h1 {
  letter-spacing: -2px;
  color: #444;
}

header > h2 {
  margin-bottom: 8px;
  color: #444;
}

header > h2 > a {
  text-decoration: none;
  border-bottom: 1px dotted grey;
}

.right {
  float: right;
  text-align: right;
  clear: both;
}

.hash {
  opacity: 0.3;
}

#meta p {
  line-height: 2.4em;
  font-size: 0.8em;
}

