<!DOCTYPE html>

<title>{{ page.title }} - {{ page.city }}</title>

<meta name="author" content="Lara"/>
<meta name="description" content="{{ page.title }} - review by Lara"/>
<meta charset="utf8">
<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />  
<link rel="apple-touch-icon" sizes="144x144" href="http://i.imgur.com/ePxmkUv.jpg?1">
<link href="../poster.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<script src="../mop.js"></script>

<body>

  <header>
    <h1>{{page.title}}</h1>
    <h2>review by <a href="http://noyicoffee.com">noyicoffee.com</a></h2>
    <img id="bigimg" src="{{page.img1}}">
    <div id="smallpictures"> <img src="{{page.img1}}"> <img src="{{page.img2}}"> <img src="{{page.img3}}"> <img src="{{page.img4}}"> </div>
  </header>

  <section id="meta">
      <p class="right" id="stars">{{page.rating}}</p>
      <p class="right" id="location">{{page.country}}, {{page.city}}.</p>
      <p class="right" id="map"> <a target="_" href="{{page.map}}">Map</a></p>
    <p id="keywords"><span class="hash">#</span>{{page.keyword1}} <span class="hash">#</span>{{page.keyword2}} <span class="hash">#</span>{{page.keyword3}}</p>
    <p id="contact">
      {% if page.website %}
      <a target="_" href="{{page.website}}">website</a>
      {% endif %}
      {% if page.contact %}
      {{page.contact}}
      {% endif %}
    </p>
    <p id="opening">{{ page.opening }}</p>
  </section>
  <p id="desc">
  Noyi's words: <q>{{content}}</q>
  </p>

</body>


<script>
  /mobile/i.test(navigator.userAgent) && !window.location.hash && setTimeout(function () {
    window.scrollTo(0, 1);
  }, 1000);
</script>
